<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <div class="left">
        <img th:src="@{/images/ilus-login.png}" alt="Ilustração cadastro">
    </div>
    <div class="right">
        <h2>Crie sua conta</h2>
        <form th:action="@{/cadastro}" method="post">
            <input type="text" name="nome" placeholder="Nome completo" 
                   pattern="^[A-Za-zÀ-ÿ\s]{1,40}$"
                   title="Digite apenas letras. Máximo 40 caracteres." required>

            <input type="email" name="email" placeholder="E-mail" 
                   maxlength="60"
                   pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                   title="Digite um e-mail válido. Máximo 60 caracteres." required>

            <input type="password" name="senha" placeholder="Senha" 
                   minlength="8" maxlength="20"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,20}$"
                   title="A senha deve ter entre 8 e 20 caracteres, incluindo maiúscula, minúscula, número e símbolo." required>

            <input type="password" name="confirmarSenha" placeholder="Confirme sua senha" 
                   maxlength="20"
                   title="Confirme sua senha corretamente." required>

            <button type="submit">Cadastrar</button>
        </form>
        <p>Já possui uma conta? <a th:href="@{/login}">Clique aqui para realizar o login</a></p>
    </div>
</div>
</body>
</html>
