<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <div class="left">
        <img th:src="@{/images/ilus-login.png}" alt="Ilustração login">
    </div>
    <div class="right">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
            <input type="email" name="username" placeholder="Email" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <p>Não possui uma conta? <a th:href="@{/cadastro}">Cadastre-se agora</a></p>
    </div>
</div>
</body>
</html>
